[submodule "simdjson"]
	path = simdjson
	url = https://github.com/suirless/simdjson
[submodule "zipper"]
	path = zipper
	url = https://github.com/suirless/zipper
[submodule "zlib"]
	path = zlib
	url = https://github.com/suirless/zlib
[submodule "libpng"]
	path = libpng
	url = https://github.com/suirless/libpng
